.utmp/

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

*.log

# Blender backup files
*.blend1
*.blend1.meta

# Recordings
/[Rr]ecordings/

# Unity Recorder recordings
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Uncomment this line if you wish to ignore the Asset Store Tools plugin
# /[Aa]ssets/AssetStoreTools*

# JetBrains Rider
/[Aa]ssets/Plugins/Editor/JetBrains*
.idea
*.DotSettings.user

# Visual Studio
.vs/

# Gradle
.gradle/

# Generated solution/project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Crash reports
sysinfo.txt
mono_crash.*

# Build artifacts
*.apk
*.aab
*.app
*.unitypackage
*.unitypackage.meta

# IL2CPP backup folder
*BackUpThisFolder_ButDontShipItWithYourGame

# Crashlytics
crashlytics-build.properties

# Test Runner
InitTestScene*.unity*
/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*

# Addressables
/ServerData
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Scene dependency cache
/[Aa]ssets/[Ss]ceneDependencyCache*

# Asset meta data should only be ignored when the corresponding asset is also ignored
#!/[Aa]ssets/**/*.meta